-#  This file is app/views/movies/index.html.haml
%h1 Teams

= form_tag teams_path, :method => :get, :id => 'majors_form' do
  = hidden_field_tag ":users_count_sort", true if @users_count_header
  = hidden_field_tag ":pending_requests_sort", true if @pending_requests_header
  Limit to Teams with all Declared CS or EECS Majors? 
  - @all_majors.each do |major|
    = major
    = check_box_tag "majors[#{major}]", 1, @selected_majors.include?(major), :id => "majors_#{major}"
  = submit_tag 'Refresh', :id => 'majors_submit'

%table#teams
  %thead
    %tr
      %th Group Members
      %th{:class => @users_count_header}= link_to 'Number of Members', teams_path(:sort => 'users_count', :majors => @selected_majors), :id => 'users_count_header'
      %th{:class => @pending_requests_header}= link_to 'Number of Pending Requests', teams_path(:sort => 'pending_requests', :majors => @selected_majors), :id => 'pending_requests_header'
      %th All Declared?
      %th Request
  %tbody
    - @teams.each do |team|
      %tr
        %td= team.getMembers
        %td= team.getNumMembers
        %td= team.pending_requests
        %td= team.declared
        %td= link_to "Join Team", user_requests_path(user_id: session[:user_id], team_id: team.id)