<body>
    <title>Edit Info</title>
    <div class="container">
        <h1>Edit Info</h1>
        <%= form_for @admin, :url => admin_path(@admin.id), :method => :put, class: "form-horizontal" do |f| %>
            <fieldset>
                <%= render 'shared/basic_info', {:f => f, :user => @admin} %>
                <div class="actions form-group">
                    <a href="/" class="btn btn-default">Cancel</a>
                    <%= f.submit "Update Information", class: "btn btn-primary" %>
                </div>
            </fieldset>
        <% end %>
        
        <h2>Delete Myself</h2>
        <%= form_for @admin, :url => admin_path(@admin.id), :method => :delete, class: "form-horizontal" do |f| %>
            <fieldset>
                <div class="actions form-group">
                    <%= f.submit "Delete Me", class: "btn btn-danger", data: {confirm: "Are you sure you want to delete yourself? You will be unable to login again."} %>
                </div>
            </fieldset>
          <% end %>
    </div>
</body>