<html>
<body>
  <title>Login</title>
    <div class="container">
        <div class = "text-center">
            <h1>Log In!</h1>
            
            <%= form_tag login_path, class: "form-horizontal" do %>
                
                <div class="field form-group">
                    <%= label_tag :email %> <br>
                    <%= text_field_tag :email %>
                </div>
                
                <div class="field form-group">
                    <%= label_tag :password %> <br>
                    <%= password_field_tag :password %>
                </div>
                
                <br>
                
                <div class="actions">
                    <%= button_to "Log In", login_path, {method: :get, class: "btn btn-primary"} %>
                    <%= link_to "Sign Up", new_user_path, {method: :get, class: "btn btn-default"} %>
                    <br>
                    <br>
                </div>
            <% end %>

        </div>
    </div>
</body>
</html>