<%= render 'shared/basic_info', {:f => f, :user => @user} %>

<div class="field form-group">
    <%= f.label :sid, class: "col-lg-2 control-label"  %> <br>
    <%= f.text_field :sid, class: "form-control"  %>
</div>

<div class="field form-group">
    <%= f.label :major, class: "col-lg-2 control-label" %>
    <%= f.select :major, ['DECLARED CS/EECS Major', 'Intended-CS Major', 'Other Major'],  {}, {class: "form-control", :id => "major"}%>
    <p class="text-danger"> <strong> Warning: </strong> Please do not select "DECLARED CS/EECS Major", if you are planning to or in the near future become a declared CS/EECS major.  Select the "Intended-CS Major" option instead, please. </p>
</div>

<div class="field form-group">
  <%= f.label :waitlisted, "Waitlisted?"%> <br>
  <%= f.radio_button(:waitlisted, "true") %>
  <%= f.label(:waitlisted_yes, "Yes") %>
  <%= f.radio_button(:waitlisted, "false") %>
  <%= f.label(:waitlisted_no, "No") %>
</div>

<div class="field form-group">
  <%= f.label :bio, class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :bio, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :time_commitment, class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :time_commitment, class: "form-control"  %>
</div>

<div class= "field form-group">
  <%= f.label :"Aavailable days:", class: "col-lg-2 control-label"  %> <br>
  <% days = [:sunday,:monday,:tuesday,:wednesday,:thursday,:friday,:saturday] %>
  <div class = "row">
  <% days.each do |day| %>
  <div class = "col-lg-1" >
  <%= f.label day %>
  <%= f.check_box day%>
  </div>
  <% end %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :"experience", class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :experience, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :"Skills:", class: "col-lg-2 control-label"  %> <br>
  <% skills = [:ruby,:rails,:html,:css,:javascript,:ui_design,:leadership_skills] %>
  <div class = "row">
  <% skills.each do |skill| %>
  <div class = "col-lg-1" >
  <%= f.label skill %>
  <%= f.check_box skill %>
  </div>
  <% end %>
  </div>
</div>

<div class="field form-group">
  <%= f.label :"facebook", class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :facebook, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :linkedin, class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :linkedin, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :"Profile Picture", class: "col-lg-2 control-label", :id=>"pic"  %> <br>
  <%= image_tag "default_profile_pic",:align=> "left", class: "img-responsive", :id=>"img_prev" %>
  (jpeg,png)
  <%= f.file_field :avatar, class: "form-control", :onchange=>'readURL(this)'  %>
</div>

<div class="field form-group">
  <%= f.label :"Resume", class: "col-lg-2 control-label", :id=>"resume"  %> <br>
  <%= f.file_field :document, class: "form-control"%>
</div>
<br>