<%= render 'shared/basic_info', {:f => f, :user => @user} %>

<div class="field form-group">
    <%= f.label :sid, class: "col-lg-2 control-label"  %> <br>
    <%= f.text_field :sid, class: "form-control"  %>
</div>

<div class="field form-group">
    <%= f.label :major, class: "col-lg-2 control-label" %>
    <%= f.select :major, ['DECLARED CS/EECS Major', 'Intended-CS Major', 'Other Major'],  {}, {class: "form-control", :id => "major"}%>
    <p class="text-danger"> <strong> Warning: </strong> Please do not select "DECLARED CS/EECS Major", if you are planning to or in the near future become a declared CS/EECS major.  Select the "Intended-CS Major" option instead, please. </p>
</div>

<div class="field form-group">
  <%= f.label :waitlisted, "Waitlisted?"%> <br>
  <%= f.radio_button(:waitlisted, true, :checked => false) %>
  <%= f.label(:waitlisted_yes, "Yes") %>
  <%= f.radio_button(:waitlisted, false) %>
  <%= f.label(:waitlisted_no, "No") %>
</div>

<div class="field form-group">
  <%= f.label :bio, class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :bio, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :"time_commitment", class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :time_commitment, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :"experience", class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :experience, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :"facebook", class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :facebook, class: "form-control"  %>
</div>

<div class="field form-group">
  <%= f.label :linkedin, class: "col-lg-2 control-label"  %> <br>
  <%= f.text_field :linkedin, class: "form-control"  %>
</div>
<br>