<%= render 'shared/basic_info', {:f => f, :user => @user} %>

<div class="field form-group">
    <%= f.label :sid, class: "col-lg-2 control-label"  %> <br>
    <%= f.text_field :sid, class: "form-control"  %>
</div>

<div class="field form-group">
    <%= f.label :major, class: "col-lg-2 control-label"  %> <br>
    <%= f.text_field :major, class: "form-control" %>
</div>

<br>