<%= render 'shared/basic_info', {:f => f, :user => @user} %>
<div class="field form-group">
    <%= f.label :sid, class: "col-lg-2 control-label"  %> <br>
    <%= f.text_field :sid, class: "form-control"  %>
</div>

<div class="field form-group">
    <%= f.label :major, class: "col-lg-2 control-label" %>
    <%= f.select :major, ['DECLARED CS/EECS Major', 'Intended-CS Major', 'Other Major'],  {}, {class: "form-control", :id => "major"}%>
    <p class="text-danger"> <strong> Warning: </strong> Please do not select "DECLARED CS/EECS Major", if you are planning to or in the near future become a declared CS/EECS major.  Select the "Intended-CS Major" option instead, please. </p>
</div>
<div class="field form-group">
    <%= f.check_box :show_name %>
    <%= f.label :show_name, 'Name Visible to Other Teams', class: "col-lg-2 control-label"%>
</div>
<div class="field form-group">
    <%= f.label :skills, class: "col-lg-2 control-label" %>
</div>
<div class="field form-group">
    <%= f.fields_for :talents, @user.init_talents do |builder| %>
        <% skill = builder.object.skill %>
        <%= builder.label :enable, skill.name %>
        <%= builder.check_box :enable %>
    <% end %>
</div>


<br>
