<h1>List Of Users</h1>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>SID</th>
        <th>Email Address</th>
        <th>Majors</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.sid %></td>
          <td><%= user.email %></td>
          <td><%= user.major %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>

    <div class='btn-group'>
    <%= button_to 'Create New Student', new_user_path, {method: :get, class: "btn"} %>
    </div>
    
  <h3>Import Students From CSV</h3>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Students", class: 'btn btn-default' %>
  <% end %>
