<body>
	<title>User list</title>
	<div class="container">
	<div class="row">

		<h1>Users</h1>

		<br>
		<%= form_tag(users_path, :method => "get", id: "search_form", class: "input-group col-xs-5") do %>

		  <%= text_field_tag :search, params[:search], placeholder: "Search for a User", class: "form-control input-sm", type: "search" %>

		  <span class="input-group-btn">
		    <%= submit_tag "Search", :id => 'search_button', class: "btn btn-primary btn-sm" %>
		  </span>
		<% end %>


		<br><br>

		<table id="individuals" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						<%= link_to 'User', users_path(:users_sort => 'users_name'), :id => 'users_name_header' %>
					</th>
					<th>
						<%= link_to 'In a Team?', users_path(:users_sort => 'in_team?'), :id => 'is_team_header' %>
					</th>
					<th>
						<%= link_to 'Team ID', users_path(:users_sort => 'team_id'), :id => 'team_id_header' %>
					</th>

					<th>Request</th>
				</tr>

			</thead>

			<tbody>
			  <% @users.each do |user| %>
			  	<!-- don't display the user -->
			  	<% next if user.id == session[:user_id] %>
			    <tr>
			    	<td>
				    	<%= link_to user.name, user_path(user.id) %>
			    	</td> 

			    	<td> <%= user.team_id.nil? ? "No" : "Yes" %> </td>

			    	<td> 
			    	<% if !user.team_id.nil? %>
							<%= link_to user.team_id, team_profile_path(user.team_id) %> 
						<% end %>

						</td>

			    	<td>
			    	  <%=	link_to "Send Request", new_user_request_path(user_id: session[:user_id], target_id: user.id), class: "btn btn-primary btn-sm request" %>
			    	</td>

			    	
			  	</tr>
			  <% end %>
		        
		  </tbody>

		</table>
		
		
		</div>

	</div>

</body>
