<html>
<body>
  <title>Sign Up</title>
    <div class="container">
        <h1>Sign Up</h1>
        <%= form_for @user, url: {action: "create"}, class: "form-horizontal" do |f| %>
            <fieldset>
                <% if @user.errors.any? %>
                    <div class="error_messages alert alert-dismissible alert-danger">
                        Form is invalid
                    </div>
                <% end %>
                
                <div class="field form-group">
                    <%= f.label :name, class: "col-lg-2 control-label" %> <br>
                    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
                </div>
                
                <div class="field form-group">
                    <%= f.label :email, class: "col-lg-2 control-label" %> <br>
                    <%= f.text_field :email, class: "form-control", type: "email", placeholder: "you@berkeley.edu" %>
                </div>
                
                <div class="field form-group">
                    <%= f.label :password, class: "col-lg-2 control-label" %> <br>
                    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>
                
                <div class="field form-group">
                    <%= f.label :sid, class: "col-lg-2 control-label" %> <br>
                    <%= f.text_field :sid, placeholder: "12345678", class: "form-control" %>
                </div>
                
                <div class="field form-group">
                    <%= f.label :major, class: "col-lg-2 control-label" %> <br>
                    <%= f.select :major, ['DECLARED CS/EECS Major', 'Intended-CS Major', 'Other Major'],  {}, {class: "form-control"}%>
                <p class="text-danger"> <strong> Warning: </strong> Please do not select "DECLARED CS/EECS Major", if you are planning to or in the near future become a declared CS/EECS major.  Select the "Intended-CS Major" option instead, please. </p>
                </div>
                
                <br>
                
                <div class="actions form-group">
                    <a href="/" class="btn btn-default">Cancel</a>
                    <%= f.submit "Sign Up", class: "btn btn-primary" %>
                </div>
            </fieldset>
        <% end %>
        
    </div>
</body>