<html>
<body>
  <title>Add New Discussion</title>
    <div class="container">
        <div class = "text-center">
            <h1>Add New Discussion</h1>
            
            <%= form_for @disc, :html => {:class => "form-horizontal center"}, :url => add_discussion_info_path(@disc.id), :method => :put do |d|%>

                <div class="field form-group">
                    <%= d.label :number, class: "col-lg-2 control-label"  %> <br>
                    <%= d.text_field(:number, class: "form-control") %>
                </div>
                
                <div class="field form-group">
                    <%= d.label :day, class: "col-lg-2 control-label"%> <br>
                    <%= d.text_field :day, class: "form-control"   %>
                </div>
                
                <div class="field form-group">
                    <%= d.label :time , class: "col-lg-2 control-label"%> <br>
                    <%= d.text_field :time, class: "form-control"   %>
                </div>
                
                <div class="field form-group">
                    <%= d.label :capacity, class: "col-lg-2 control-label" %> <br>
                    <%= d.text_field :capacity, class: "form-control"   %>
                </div>
                
                <br>
                
                <div class="actions">
                    <%= submit_tag "Add Discussion", class: "btn btn-primary" %>
                    <%= submit_tag "Cancel", class: "btn btn-primary" %>
                    <!--%= link_to "Add Discussion", upload_discussion_info_path, {method: :get, class: "btn btn-default"} %>-->
                    <br>
                    <br>
                </div>
            <% end %>

        </div>
    </div>
</body>
</html>