<html>
<body>
  <title>Upload Discussion Sections</title>
  
    <div class="container">
      
      <h1>Discussion Sections</h1>
      
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
         <%= button_to "Add Discussions", '/admins/' + session[:user_id].to_s, {method: :get, class: "btn"} %>
        </div>
      </div>
            
      <table class="table table-striped table-hover">
        <tr>
          <td>Select</td>
          <td>CCN</td>
          <td>Discussion Times</td>
          <td>Seats Open</td>
        </tr>
          
        <% @discussions.each do |d| %>
          <tr>
<<<<<<< 735565e0859b4f668f38ebc79a66f50b53fd45c1
            <!--<td>%= check_box_tag "select[#{d}]", 1, session[:select] == nil ? true : session[:select].include?(d) %></td>-->
            <td><%= check_box_tag "select[#{d}]", 1, session[:select] == true %></td>
            <td><%= d.number %></td>
            <td><%= d.time %></td>
            <td><%= text_field_tag 'capacity', 30 %></td>
=======
            <td><%= check_box_tag :select %></td>
            <td><%= d.number %></td>
            <td><%= d.time %></td>
            <td><%= d.seats_open %></td>
>>>>>>> added changes
          </tr>
        <% end %>
      </table>
    </div>
    
    
    
</body>
</html>