<%= form_tag(user_requests_path(:target_id => @target_id, :source_id => @source_id, :user_id => session[:user_id]), method: :post) do %>

  <div style="position: relative; padding-bottom: 5px">
  <% if @members.length == 1 %>
    <h4><%= "Send Request to " + @members.first.name %></h4>
  <% else %>
    <h4><%= "Send Request to Team " + @target_id %></h4>
  <% end %>
  </div>

  <div class="form-group">
    <%= label :request, "Request Message" %>
    <%= text_area :request, 'content', id: "request_content", class: "form-control", placeholder: "Hi there. I'd like to join your team!" %>
  </div>

  <%= submit_tag "Send", :class => "btn btn-primary btn-sm"%>

  <button type="button" class="btn btn-link" id="closeLink">Cancel</button>


<% end %>


<style type="text/css">
  #closeLink{
    float: right
  }

  #dialog{
    position: absolute;
    margin: auto;
    background: white;
    top: 23%;
    left: 26%;
    width: 48%;
    border: 2px solid #07073c;
    padding: 19px;
    padding-top: 13px;
  }

  #request_content {
    height: 140px;
  }
</style>
