<body>
  <title>Requests</title>
    <div class="container">
        <table>
            <tr><td><h2>Incoming Requests</h2></td></tr>
            <% unless @requests_to_me.empty? %>
            <% @requests_to_me.each do |incoming_request| %>
            <tr>
                <td style="padding-left: 50px;padding-bottom:3px; font size="35;><%= incoming_request.user.name %></td>

                <td><%= incoming_request[:text] %></td>
                <td><%= link_to "Accept Request", user_request_path(user_id: session[:user_id], id: incoming_request[:id], decision: "accept"), method: :delete %></td>
                <td><%= link_to "Deny Request", user_request_path(user_id: session[:user_id], id: incoming_request[:id], decision: "deny"), method: :delete %></td>
            </tr>
            <% end %>
            <% end %>

          <% unless @requests_to_my_team.empty? %>
          <% @requests_to_my_team.each do |incoming_request| %>
                <tr>
                  <td><%= incoming_request[:text] %></td>
                  <td><%= link_to "Accept Request", user_request_path(user_id: session[:user_id], id: incoming_request[:id], decision: "accept"), method: :delete %></td>
                  <td><%= link_to "Deny Request", user_request_path(user_id: session[:user_id], id: incoming_request[:id], decision: "deny"), method: :delete %></td>
                </tr>
            <% end %>
          <% end %>
        </table>
        <table>
            <tr><td><h2>Outgoing Requests</h2></td></tr>
          <% unless @requests_from_me.empty? %>
            <% @requests_from_me.each do |outgoing_request| %>
            <tr>

                <td><%= outgoing_request[:text] %></td>
                <td><%= link_to "Cancel Request", user_request_path(user_id: session[:user_id], id: outgoing_request[:id], decision: "cancel"), method: :delete %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
    </div>
</body>


