<html>
<head>
  <%= yield %>
  <title>Choose Discussions</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <h1>Choose Discussions</h1>
        <div class="form-group">
          <div class="col-lg-10">
          <label for="choice_1" class="col-lg control-label">Choice 1</label>
            <select class="form-control" id="select">
              <% Discussion.all.each do |d| %>
                <option><%=d.number.to_s + " " + d.time + " Capacity: " + d.capacity.to_s + " Seats open: " + d.seats_open.to_s %></option>
              <% end %>
            </select>
          <label for="choice_2" class="col-lg control-label">Choice 2</label>
            <select class="form-control" id="select">
              <% Discussion.all.each do |d| %>
                <option><%=d.number.to_s + " " + d.time + " Capacity: " + d.capacity.to_s + " Seats open: " + d.seats_open.to_s %></option>
              <% end %>
            </select>
          <label for="choice_3" class="col-lg control-label">Choice 3</label>
            <select class="form-control" id="select">
              <% Discussion.all.each do |d| %>
                <option><%=d.number.to_s + " " + d.time + " Capacity: " + d.capacity.to_s + " Seats open: " + d.seats_open.to_s %></option>
              <% end %>
            </select>
            <br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <a href="/" class="btn btn-default">Cancel</a>
            <%= button_to "Submit", choose_discussions_path, class: 'btn btn-primary' %>
          </div>
        </div>
    </div>
</body>