<html>
<head>
  <%= yield %>
  <title>Choose Discussions</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <h1>Choose Discussions</h1>
        <%= form_for @team, url: {action: "choose_discussions"}, class: "form-horizontal" do |f| %>
            <fieldset>
                <div class="field form-group">
                    <%= f.label :choice_1, class: "col-lg-2 control-label" %> <br>
                    <%= f.collection_select(:discussion_id, Discussion.where("seats_open > 0"), :id, :time, {}, {name: :disc1, id: :disc1}) %>
                </div>
                
                <div class="field form-group">
                    <%= f.label :choice_2, class: "col-lg-2 control-label" %> <br>
                    <%= f.collection_select(:discussion_id, Discussion.where("seats_open > 0"), :id, :time, {}, {name: :disc2, id: :disc2}) %>
                </div>
                
                <div class="field form-group">
                    <%= f.label :choice_3, class: "col-lg-2 control-label" %> <br>
                    <%= f.collection_select(:discussion_id, Discussion.where("seats_open > 0"), :id, :time, {}, {name: :disc3, id: :disc3}) %>
                </div>
                
                <br>
                
                <div class="actions form-group">
                    <a href="/" class="btn btn-default">Cancel</a>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                </div>
            </fieldset>
          <% end %>
    </div>
</body>