<h1>Teams</h1>
<%= form_tag team_list_path, :method => :get, :id => 'declared_form' do %>
    <%= hidden_field_tag ":users_count_sort", true if @users_count_header %>
    <%= hidden_field_tag ":pending_requests_sort", true if @pending_requests_header %>
    Limit to Teams with all Declared CS or EECS Majors?
    <% @majors.each do |declared| %>
        <%= declared %>
        <%= check_box_tag "declared[#{declared}]", 1, @majors.include?(declared), :id => "declared_#{declared}" %>
    <% end %>
    <%= submit_tag 'Refresh', :id => 'declared_submit' %>
<% end %>

<!-- Teams -->
<table id="teams">
  <thead>
  <tr>
    <th>Group Members</th>
    <th class="<%= @users_count_header %>">
      <%= link_to 'Number of Members', team_list_path(:sort => 'users_count', :declared => @majors), :id => 'users_count_header' %>
    </th>
    <th class="<%= @pending_requests_header %>">
      <%= link_to 'Number of Pending Requests', team_list_path(:sort => 'pending_requests', :declared => @majors), :id => 'pending_requests_header' %>
    </th>
    <th>All Declared?</th>
    <th>Request</th>
  </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
      <tr>
        <td><%= link_to "#{team.getMembers}",team_profile_path(team.id) %></td>
        <td><%= team.getNumMembers %></td>
        <td><%= team.pending_requests %></td>
        <td><%= team.declared %></td>
        <td><%= link_to "Join Team", requests_new_path(user_id: session[:user_id], target_id: team.id, target_type: "team") %></td>
      </tr>
  <% end %>
  </tbody>
</table>
