

<body>
  <title>Team list</title>
  <div class="container">
            <%= render "team/suggestion" %>
    <div class="row">
      <h1>Teams</h1>
      <br>
      <%= form_tag(team_list_path, :method => "get", id: "search_form", class: "input-group col-xs-5") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for a Team Member", class: "form-control input-sm", type: "search" %>
      <% end %>


      <br><br>

      <%= form_tag team_list_path, :method => :get, :id => 'waitlisted_form' do %>
        <%= hidden_field_tag :to_sort, false %>
        All Waitlisted?
        <%= 'Yes' %>
        <%= check_box_tag 'waitlisted[]', true, @waitlist_filter.include?('true'), :id => "waitlisted_yes" %>
        <%= 'No' %>
        <%= check_box_tag 'waitlisted[]', false, @waitlist_filter.include?('false'), :id => "waitlisted_no" %>
      <% end %>

      <%= form_tag team_list_path, :method => :get, :id => 'num_members_filter' do %>
        <%= hidden_field_tag :to_sort, false %>
        Number of Members:
        <%= '1' %>
        <%= check_box_tag 'num_members[]', 1, @num_members_filter.include?('1'), :id => "num_members_1" %>
        <%= '2' %>
        <%= check_box_tag 'num_members[]', 2, @num_members_filter.include?('2'), :id => "num_members_2" %>
        <%= '3' %>
        <%= check_box_tag 'num_members[]', 3, @num_members_filter.include?('3'), :id => "num_members_3" %>
        <%= '4' %>
        <%= check_box_tag 'num_members[]', 4, @num_members_filter.include?('4'), :id => "num_members_4" %>
        <%= '5' %>
        <%= check_box_tag 'num_members[]', 5, @num_members_filter.include?('5'), :id => "num_members_5" %>
        <%= '6' %>
        <%= check_box_tag 'num_members[]', 6, @num_members_filter.include?('6'), :id => "num_members_6" %>
      <% end %>

      <table id="teams" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Group Members</th>
            <th id="users_count_header">Number of Members</th>
            <th id="pending_requests_header">Number of Pending Requests</th>
            <th>All Waitlisted?</th>
            <th>Request</th>
          </tr>
        </thead>
        <tbody>
          <% if @teams.blank? %>
            <h4>There are no teams with the member <%= params[:search] %>. </h4>
          <% else %>
            <% @teams.each do |team| %>
              <tr>
                <td>
                  <%= link_to "#{team.getMembers}",team_profile_path(team.id) %>
                </td>
                <td>
                  <%= team.getNumMembers %>
                </td>
                <td>
                  <%= team.pending_requests %>
                </td>
                <td>
                  <%= team.waitlisted ? "Yes" : "No" %>
                </td>
                <td>
                  <%= link_to "Join Team", new_user_request_path(user_id: session[:user_id], target_id: team.id), class: "btn btn-primary btn-sm request" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>