<html>
<body>
  <title>My Group</title>
  
    <div class="container">
      
      <h1>My Group</h1>
      
      <h4>Group #<%= @group.id%></h4>

      <div class="row">
        <div class="col-md-8">
          <h2>Members</h2>
          <table class="table table-striped table-hover">
            <tr>
                <td></td>
                <td>Student</td>
                <td>EECS/CS Major?</td>
                <td>Email</td>
                <td></td>
              </tr>
              
            <% Team.find_by_id(@group.team1_id).users.each do |u| %>
              <tr>
                <td></td>
                <td><%= u.name %></td>
                <td><%= u.major == "DECLARED CS/EECS Major" ? "•" : "No" %></td>
                <td><%= u.email %></td>
                <td>
                  <%= form_tag edit_team_path(:id => @team.id), method: :get do %>
                    <%= hidden_field_tag :unwanted_user, u.id %>
                    <%= submit_tag "Remove", :id=>"remove_#{u.name}", :class=>"btn btn-default", data: { confirm: "Are you sure you want to remove #{u.name} from your team?" }  %>
                  <% end %>                  
                </td>
              </tr>
            <% end %>
            <% Team.find_by_id(@group.team2_id).users.each do |u| %>
              <tr>
                <td></td>
                <td><%= u.name %></td>
                <td><%= u.major == "DECLARED CS/EECS Major" ? "•" : "No" %></td>
                <td><%= u.email %></td>
                <td>
                  <%= form_tag edit_team_path(:id => @team.id), method: :get do %>
                    <%= hidden_field_tag :unwanted_user, u.id %>
                    <%= submit_tag "Remove", :id=>"remove_#{u.name}", :class=>"btn btn-default", data: { confirm: "Are you sure you want to remove #{u.name} from your team?" }  %>
                  <% end %>                  
                </td>
              </tr>
            <% end %>
          </table>
          
        </div>
        <div class="col-md-4">
          <h3>Group Discussion Information</h3>
            <% disc = Discussion.find(@team.discussion_id) %>
          <h4><%= "CCN: #{disc.number} | Time: #{disc.day} #{disc.time}" %></h4>
          

       </div>
      </div>
      <div class="col-md-4">
      <%= link_to "Back", team_path, {:class=>"btn btn-default"} %>
      </div>
    </div>
</body>
</html>