<title>Team Profile</title>
<div class="container">
<h1>Team Profile</h1>
<h5>Team ID: <%= @team.id %></h5>

<%
  enumeration = @team.users.count
  enumeration <= 3? row = 1 : row = 2
  for i in 1..row 
%>
  <div class = row>
    <% for j in 0..2 %>
    <% if enumeration > 0 %>
    <div class = "col-md-4 col-sm-6 col-xs-12">
      <h3><%= link_to @users_name_arr.pop(), user_path(@users_id.pop()) %></h3>

      <%= image_tag @users_pic_arr.pop(), :class => "img-responsive" %>
      <h5>Major: <%= @users_major_arr.pop() %></h5>
      <h5>On Waitlist? <%= @users_waitlist_arr.pop()? "Yes" : "No" %></h5>
      <h5>Bio: <%= @users_bio_arr.pop() %></h5>
      <h5>Time commitment: <%= @users_time_arr.pop() %>hrs/wk</h5>
      <h5>Available days: <%= @users_days_arr.pop() %></h5>
      <h5>Experience: <%= @users_exp_arr.pop() %></h5>
      <h5>Skills: <%= @users_skills_arr.pop() %></h5>
      <% currentFb =  @users_fb_arr.pop() %>
      <h5>Facebook:<%=link_to "#{currentFb}",currentFb %></h5>
      <% currentLk =  @users_lk_arr.pop() %>
      <h5>Linkedin:<%=link_to "#{currentLk}",currentLk %></h5>
      <% currentEmail =  @users_email_arr.pop() %>
      <h5>Email: <a href="mailto:<%= currentEmail %>"><%= currentEmail %></a></h5>
    </div>
    <% enumeration-= 1 
      end %>
    <% end %>
  </div>
  <% end %>
  
  
</div>