<html>
<body>
<title>My Team</title>

<div class="container">

  <h1>My Team</h1>
  <br>

  <h6 style="display: none"><%= "Team Password: " + @team.passcode.to_s %></h6>
  <%= button_to "Team #{@team.id} Profile", team_profile_path, type: "button", class: "btn btn-info btn-sm", method: "get" %>


  <div class="row">
    <div class="col-md-8">
      <h2>Members</h2>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Student</th>
            <th>EECS/CS Major?</th>
            <th>On Waitlist?</th>
          </tr>
        </thead>


        <% @team.users.each do |u| %>
            <tr>
              <td></td>
              <td><%= link_to u.name, user_path(u.id) %></td>
              <td><%= u.major == "DECLARED CS/EECS Major" ? "Yes" : "No" %></td>
              <td><%= u.waitlisted? ? "Yes" : "No" %></td>
              <td>
                <%= form_tag edit_team_path(:id => @team.id), method: :get do %>
                    <%= hidden_field_tag :unwanted_user, u.id %>
                    <%= submit_tag "Remove", :id=>"remove_#{u.name}", :class=>"btn btn-default btn-sm", data: { confirm: "Are you sure you want to remove #{u.name} from your team?" }  %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>

    </div>
    <div class="col-md-4">

      <%= button_to "Discussions", discussion_index_path, {method: :get, class: "btn"} %>
      <% if @team.approved %>
          <br>
          <br>
          <br>
          <h3>Team Discussion Information</h3>
          <% disc = Discussion.find(@team.discussion_id) %>
          <h4><%= "CCN: #{disc.number} | Time: #{disc.day} #{disc.time}" %></h4>
      <% elsif @team.submitted %>
          <br>
          <br>
          <br>
          <h3>Selected Discussion Sections</h3>
          <%= "CCN: #{@d1.number} Time: #{@d1.day}, #{@d1.time}" %>
          <br>
          <%= "CCN: #{@d2.number} Time: #{@d2.day}, #{@d2.time}" if !(@d2.nil?)%>
          <br>
          <%= "CCN: #{@d3.number} Time: #{@d3.day}, #{@d3.time}" if !(@d3.nil?)%>
      <% end %>
    </div>
  </div>

  <div class="actions">



    <div class="col-xs-2">
      <%= form_tag edit_team_path(:id => @team.id), method: :get do %>
          <%= hidden_field_tag :unwanted_user, @user.id %>
          <%= submit_tag "Leave team", :id=> "leave_team", :class=> "btn btn-default", :disabled => (session[:is_admin] ? true : false) %>
      <% end %>

    </div>

    <% if @team.approved %>
        <div class="col-xs-2">
            Team has been approved!
          </div>

    <% elsif @team.submitted %>
        <div class="col-xs-2">
          <%= form_tag unsubmit_team_path(@team) do %>
              <%= submit_tag "Withdraw Team Submission", class: "btn btn-primary btn-xs" %>
              <% # TODO: css styling for this button so that it fits using white-space: normal;  %>
          <% end %>
        </div>
        <div class="col-xs-2">
          Team has been submitted!
        </div>

    <% else %>
      <% if Discussion.valid_discs_for(@team).count == 0 %>
          There are no available discussions.
      <% end %>
      <% if @team.eligible? %>
        <div class="col-xs-2">
          <%= form_tag submit_team_path(@team) do %>
              <%= submit_tag "Submit team", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="col-xs-2">
          Warning: You need to submit your team to be considered for enrollment, make sure to do this when you have assembled your team.
        </div>
      <% end %>

    <% end %>
  </div>


  <% if @team.approved %>
      <br>
      <br>
      <br>
      <h3>Team Discussion Information</h3>
      <% disc = Discussion.find(@team.discussion_id) %>
      <h4><%= "CCN: #{disc.number}    Time: #{disc.day} #{disc.time}" %></h4>
  <% end %>
</div>
</body>
</html>