<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
</head>

<body>
  <title>Admin Home</title>
    <div class="container">
      <h2><%= "Create Groups" %></h2>
        </br></br></br></br></br>
        <div class="row">
        <div class="col-md-8">
          <table class="table table-striped table-hover">
            <tr>
              <td></td>
              <td>Team ID</td>
              <td>Members</td>
              <td>Status</td>
              <td>Discussions</td>
            </tr>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script>
              var limit = 1;
              $('input.group_checkbox').on('change', function(evt) {
                 if($(this).siblings(':checked').length >= limit) {
                     this.checked = false;
                 }
              });
            </script>
            
            <!--:action => "merge",-->
            <%= form_tag({:action => "merge", :method => "get"}) do %>
            <% @teams_li.each do |t| %>
              <% if t.approved? %>
                <tr>
                  <td><%= check_box(t.id, "selected", class:"group_checkbox", id:"team_#{t.id}")%></td>
                  <td><%= link_to t.id, team_path(t.id) %></td>
                  <td>
                    <% t.users.each do |u| %>
                      <%= link_to u.name, user_path(u.id) %> <br>
                    <% end %>
                  </td>
                
                  <td>Approved</td>
                  <% d = Discussion.find_by_id(t.submission_id) %>
                  <td>
                    <%= d.info %>
                  </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          
          <%= submit_tag("Create Group", :class => 'btn btn-xs btn-success')%>
          <% end %>
          
          
          <!--:action => "random",-->
          <%= form_tag({:action => "random", :method => "post"}) %>
          <%= submit_tag("Group randomly", :class => 'btn btn-xs btn-success')%>
        </div>
      </div>
      
    </div>
</body>