<!DOCTYPE html>
<html>
<head>
  <title>EnrollMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<body>
  <div class="container">
    <h1>EnrollMe</h1>
    
    <h2><a href="/team">My Team</a></h2>
    <h2><a href="/without_team">Join or Create a Team</a></h2>
    <h2><a href="/signup">Edit My Info</a></h2>
    <h3><%= form_tag logout_path do %>
        <div class="actions">
            <%= submit_tag "Logout" %>
        </div></h3>
    <% end %>
</div>

</body>
</html>
