<!DOCTYPE html>
<html>
<head>
  <title>EnrollMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
    <div class="container">
      
      <h1>My Team</h1>
      <h3><%= @team == nil ? "Your team does not exist." : "" %></h3>
      <h3><%=  (@team == nil ? "" : "Team Password:" + @team.passcode.to_s) %></h3>
      
      <div class="row">
        <div class="col-md-8">
          <h2>Members</h2>
          <% if @team != nil %>
            <table>
              <tr>
                  <td></td>
                  <td>Student</td>
                  <td>CS Major?</td>
                  <td></td>
                </tr>
              
              <% User.where("team = ?", @team.passcode).each_with_index do |u, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= u.name %></td>
                  <td><%= u.major == "Computer Science" or u.major == "Electrical Engineering and Computer Science" ? "•" : "" %></td>
                  <td>Edit</td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p>Your team does not have any members.</p>
          <% end %>
        </div>
        <div class="col-md-4">
          <a href="http://eecs.jimren.com/"><h3>  CS 169 Enrollment</h3></a>
       </div>
      </div>
      <%= button_to "Submit changes", {action: "update"} %>
    </div>
    
</body>
</html>