<html>

<head>
  <title>EnrollMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <div class = "text-center">
    <h1>Create or Join a Team</h1>

    <%= form_tag join_team_path do %>
        <div class="field">
            <%= label_tag "Team Hash" %> <br>
            <%= text_field_tag :team_hash, params[:team_hash] %>
        </div>
    
        <div class="actions">
            <%= submit_tag "Join" %>
        </div>
    
<% end %>

<%= form_tag create_team_path do %>
    <div class="actions">
        <%= submit_tag "Create" %>
    </div>

<% end %>
</div>
</div>
</body>
</html>